:root{
    --main-color:#AC53FF;
    --second-color:#360074;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body,html{
    width: 100%;
    height: 100%
}
.container_index{
    width: 100%;
    height: 100%;
    
}
.menu_container{
    position: relative;
    margin: 10px;
    width: 4rem;
    height: 50px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    gap: 7px;
    cursor: pointer;
    box-sizing: border-box;
}

.menu_children{
    position: relative;
    top: 20px;
    transition: all 2s;
    background-color: var(--main-color);
    ;
    width: 100%;
    height: 10px;
    border-radius: 15px;
}
.shapes_container{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    place-content:  center;
    place-items: center;


}
.shapes_children{
    
    width: 50%;
    height: 50%;
    border-radius: 35px;
    color: white;
    cursor: grab;
}
.shapes_children:nth-child(1){
    background-color:var(--main-color);
    z-index: 1;
}
.shapes_children:nth-child(2){
    background-color: var(--second-color);
    
    z-index: 2;
    margin-left: 20%;
position: absolute;
}
#content1{
    display: none;
    padding-top: 10%;
    padding-left: 6%;
}
#content1 img{
width: 20px;
}
#content2{
display: none;
padding-top: 10%;
    padding-left: 6%;
}
#content2 img{
    width: 20px;
    }
.layer_of_menu{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.918);
    display: none;
    z-index: 4;
    position: absolute;
     
    
    -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: all 3s;
  animation: opacidad 1s;
}
@keyframes opacidad {
    0%{opacity: 0.1;}
    100%{opacity: 0.7;}
}