@font-face {
    font-family: 'Comic Runes';
    src: url('./ComicRunes.otf');
}
:root{
    --main-color:#AC53FF;
    --second-color:#360074;
}


*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body,html{
    font-size: 100%;
    list-style-type: none;
    width: 100%;
    height: 100%;
  
    
}
.container_index{
    width: 100%;
    height: 100%;
        display: flex;
        flex-flow: column wrap;
        box-sizing: border-box;
        overflow: scroll;
}
.menu_container{
    position: fixed;
    margin: 10px;
    width: 4rem;
    height: 50px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    gap: 7px;
    cursor: pointer;
    box-sizing: border-box;
    z-index:5;
}

.menu_children{
    position: relative;
    top: 20px;
    transition: all 0.5s;
    background-color: #B277FF;
    ;
    width: 100%;
    height: 10px;
    border-radius: 15px;
}
.shapes_container{
    
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    
    /* transform: translate(-1%,50%); */
    
}
.fonts_title{
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Comic Runes';
    letter-spacing: 0.5em;
    width: 100%;
    margin-bottom: 20px;
    color: #777;
    font-size: 3em;
    text-align: center;
    align-self: flex-end;
    position: relative;
}
.shapes_children_container{
    display: flex;
    place-content: center;
    place-items: base;
    
    width: 100%;
    
    
    color: white;
    cursor: grab;
    
}
.shapes{
    border-radius: 35px;
    width: 40%;
    height: 50%;
    position: relative;
    
}
.shapes img{
width: 20px;
}
#content1{
    background-color: #AC53FF;
    z-index: 1;
    visibility: visible;
    left: 15%;
}
#content2{
    background-color: #B277FF;
    z-index: 2;
    right: 15%;
    
    visibility: visible;
}
#content_of_shape_two{
    visibility: hidden;
    margin: 20px;
}
#content_of_shape_one{
    visibility: hidden;
    margin: 20px;
    
}
.layer_of_menu{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    visibility: hidden;
    z-index: 4;
    position: absolute;
    -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: all 3s;
  animation: opacidad 1s;
  display: grid;
  place-content: center;
}
.layer_of_menu a{
    text-decoration: none;
    font-size: xx-large;
    
}
.layer_of_menu div:active{
        transform: scale(2);
}
@keyframes opacidad {
    0%{opacity: 0.1;}
    100%{opacity: 1;}
}
.ends{
    word-wrap: break-word;
    
}
